body {
    font-family: Arial, sans-serif;
}

.preloader-1 svg {
    overflow: visible;
    width: 100px;
    height: 150px;
}

.preloader-1 svg g {
    animation: preloader-1-slide 2s linear infinite;
}

.preloader-1 svg g:nth-child(2) {
    animation-delay: 0.5s;
}

.preloader-1 svg g:nth-child(2) path {
    animation-delay: 0.5s;
    stroke-dasharray: 0px 158px;
    stroke-dashoffset: 1px;
}

.preloader-1 svg path {
    stroke: url(#gradient);
    stroke-width: 20px;
    stroke-linecap: round;
    fill: none;
    stroke-dasharray: 0 157px;
    stroke-dashoffset: 0;
    animation: preloader-1-escalade 2s cubic-bezier(0.8, 0, 0.2, 1) infinite;
}

@keyframes preloader-1-slide {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(50px);
    }
}

@keyframes preloader-1-escalade {
    0% {
        stroke-dasharray: 0 157px;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 156px 157px;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dasharray: 156px 157px;
        stroke-dashoffset: -156px;
    }
}

a:visited {
    color: blue;
    text-decoration: none;
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background: #344051;
    z-index: 10;
}

.logo {
    color: #fff;
    font-size: 28px;
    line-height: 50px;
    float: left;
    -webkit-animation: coming 2s ease;
    -o-animation: coming 2s ease;
    animation: coming 2s ease;
}

.menu {
    float: left;
}

.menu li {
    float: left;
    line-height: 60px;
    margin-right: 40px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.menu li a {
    transition: all 0.1s;
    color: #fff;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: darkgoldenrod;
}

.menu li a:active {
    transform: scale(1.1);
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.8s;
}

.menu li:nth-child(4) {
    animation-delay: 1.2s;
}

.menu li:nth-child(5) {
    animation-delay: 1.6s;
}

.menu li:nth-child(6) {
    animation-delay: 2s;
}

main {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.png) 90% 100%/auto 85% no-repeat, url(../img/%D1%84%D0%BE%D0%BD.jpg) center/cover no-repeat;
}

.white-btn:visited {
    color: white;
}

.title_cont {
    width: 100%;
    float: left;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: leftshift 1s ease forwards;
    -o-animation: leftshift 1s ease forwards;
    animation: leftshift 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

.title_cont h1 {

    font-size: 72px;
    font-weight: bold;
}

.title_cont h4 {
    margin-top: 25px;
    font-size: 22px;
    color: #79818d;
}

.title_cont input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 35px 14px 0px 14px;
    transition: all 0.1s;
    transform: scale(1);
}

.title_cont input:hover {
    background: #344051;
    color: white;
}

.title_cont input:active {
    transform: scale(1.1);
}

@keyframes coming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes leftshift {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}

@media (max-width: 991px) {

    .title_cont,
    .title_cont h4,
    .title_cont input {
        color: white;
        position: relative;
        z-index: 3;
    }

    .main {
        position: relative;
    }

    .title_cont input {
        border: 2px solid #fff;
    }

    .main::after {
        content: "";
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
}

.second_page h1 {
    text-align: center;
    color: #263244;
    margin: 100px 0px 30px 0px;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

.photos_p2 {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.second_page p {
    font-size: 15px;
    color: #6f707e;
    text-align: left;
    padding-top: 20px;

}

.second_page input {
    height: 30px;
    border: 2px solid #6f707e;
    background: none;
    border-radius: 6px;
    color: #6f707e;
    font-size: 12px;
    padding: 0px 12px;
    text-align: center;
    margin-top: 15px;
}

.second_page input:hover {
    color: aqua;
    background-color: cadetblue;
    border: 4px dashed cadetblue;
}

.second_page input:active {
    transform: scale(1.1)
}

.th_pg_prlx {
    margin-top: 20px;
    width: 100%;
    height: 500px;
    background: url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.png) center/cover no-repeat;
    background-attachment: fixed;
}

@media (max-width: 768px) {
    .th_pg_prlx {
        height: 700px;
    }
}

@media (max-width: 576px) {
    .icons_th_pg li {
        height: 80px;
    }
}

.th_page h1 {
    text-align: center;
    color: #2c384a;
    padding-top: 60px;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

.ph_th_pg {
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.icons_th_pg li {
    display: block;
    float: left;
    text-align: center;
    margin-top: 70px;
    padding-left: 10px;
    color: #3f495a;
}

.icons_th_pg li:hover {
    transform: scale(1.1);
    transition: 0.7s ease;
}

.icons_th_pg h3 {
    text-align: center;
    font-size: 17px;
    color: #cf7600;
    font-weight: bold;
}

.four_page h1 {
    text-align: center;
    color: #2c384a;
    margin-top: 60px;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

.ph_fr {
    text-align: center;
    padding: 20px 0px 30px 0px;
    font-size: 13px;
    color: #2c384a;
}

.ph_fr p {
    text-align: center;
    font-size: 15px;
    color: #2c384a;
    margin: 40px 0px 40px 0px;
}

.photo_portf {
    max-width: 100%;
}

.bottom_f_pg h4 {
    font-size: 25px;
    font-weight: bold;
    color: #384354;
    padding: 20px 0px 20px 0px;
}

.bottom_f_pg {
    float: left;
    font-size: 15px;
    font-weight: bold;
    color: #384354;
}


.bottom_f_pg a:hover {
    color: darkorange;
    text-decoration: none;
}

.project_name h4 {
    font-size: 25px;
    font-weight: bold;
    color: #384354;
    padding: 20px 0px 20px 0px;
}

.project_name p {
    font-size: 15px;
    font-weight: bold;
    color: #384354;
}

.bottom_f_pg input {
    width: 200px;
    height: 55px;
    border: 2px solid #63b5ae;
    border-radius: 3px;
    background: #63b5ae;
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-top: 25px;
}

.bottom_f_pg input:hover {
    background-color: burlywood;
    color: chartreuse;
    transition: 1s ease;
}

.bottom_f_pg input:active {
    transform: scale(1.1);
    color: blueviolet;
    background-color: cyan;
    transition: 0.1s ease;
}

.raschet {
    margin-top: 40px;
    box-shadow: 0px 0px 20px -1px #000000;
    ;
}

.price_h {
    color: #2c384a;
    margin-top: 10px;
    font-size: 40px;
    font-weight: 900;
    font-family: sans-serif;
}

.konst h2 {
    font-weight: 500;
    font-size: 20px;
    color: darkblue;
}

.konst select {
    height: 60px;
    background-color: #eeeeee;
    border: 2px solid #eee;
    text-align: start;
    padding: 0px 8px;
    font-size: 20px;
    color: cadetblue;
    width: 100%;
    margin-bottom: 20px;
}

.line {
    padding-top: 20px;
    padding-bottom: 20px;
}

.konstr {
    font-size: 15px;
    color: #2c384a;
    font-weight: 500;
    float: left;
}

.konstr_2 {
    font-size: 15px;
    color: #2c384a;
    font-weight: 500;
    float: left;

}

.knopka input {
    height: 45px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border: 2px solid #eee;
    border-radius: 5px;
    background-color: #00b6af;
    padding: 6px 5px 8px 5px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    transform: scale(1)
}

.knopka input:hover {
    background-color: #2c384a;
    border-radius: 30px;
    transition: 0.5s ease;
}

.knopka input:active {
    transform: scale(1.2);
    transition: 0.3s ease;
}

.parallax {
    height: 500px;
    width: 100%;
    margin-top: 100px;
    background: url(../img/%D1%84%D0%BE%D0%BD.png);
    background-attachment: fixed;
}

@media (max-width: 768px) {
    .parallax {
        height: 700px;
    }
}

.parallax_content h1 {
    text-align: center;
    padding-top: 60px;
    font-size: 30px;
    font-weight: bold;
}

.photo_st img {
    text-align: center;
    margin-top: 30px;
}

.parallax_content li {
    display: block;
    float: left;
    text-align: center;
    margin-top: 30px;
    color: #3f495a;
    max-width: 100%;
}


.parallax_content li:hover {
    transform: scale(1.2);
    transition: 1s ease;
}

.parallax_content h2 {
    padding: 30px 0px 25px 0px;
    font-size: 30px;
    font-weight: 800;
    color: #323e4f;
}

.parallax_content h3 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
}

.comments h1 {
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    font-weight: bold;
}

.ph_cm {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.ph_comms {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
}

.comments p {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: #243042;
    margin-bottom: 20px;
}

.comments h4 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: #243042;
    margin-top: 35px;
}

.comments > img {
    padding-left: 4px;

}

footer {
    height: 700px;
    background: url(../img/%D0%A4%D0%BE%D0%BD%20%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D1%8B.png);
}

footer h1 {
    text-align: center;
    padding-top: 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.ph_contacts {
    text-align: center;
    margin-top: 30px;
}

footer p {
    text-align: center;
    font-size: 13;
    font-weight: 500;
    color: white;
    padding-top: 25px;
}

footer ul {
    margin-top: 20px;
}

footer li {
    float: left;
    text-align: center;
    color: white;
    font-size: 18px;
}

.msg {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 25px;
}

.but1 {
    display: inline-block;
    height: 35px;

    border: 4px solid #fff;
    background: #ffe;
    opacity: 25%;
    text-align: left;
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    padding: 2px 4px;
}

.but2 {
    display: inline-block;
    height: 35px;
    border: 4px solid #fff;
    background: #ffe;
    opacity: 25%;
    text-align: left;
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    padding: 2px 4px;
    margin-left: 5px;
}

footer textarea {
    height: 80px;
    border: 4px solid #fff;
    background: #ffe;
    opacity: 25%;
    text-align: left;
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    padding: 2px 4px;
    margin-top: 10px;
}

footer a:visited {
    color: white;
    text-decoration: none;
}

.Button_footer {
    height: 30px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 5px;
    background: none;
    color: #fff;
    font-size: 10px;
    padding: 7px 7px;
    margin-top: 10px;
}

.Button_footer:hover {
    color: blueviolet;
    background-color: cyan;
}

.Button_footer:active {
    transform: scale(1.1);

}

.icons_footer {
    text-align: center;
    margin-top: 25px;
}

.icons_footer img {
    height: 25px;
    margin-top: 20px;
    padding-left: 9px;
}
